<ion-header>
  <ion-toolbar>
    <ion-title>MenuAdmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
  </ion-list-header>
  <ion-list lines="none">
    <ion-item  routerLink="/ajouter-user" routerLinkActive="active" routerDirection="root" detail="false" style="background-color: aliceblue;"button animated>
      <ion-icon slot="start" name="log-in" style="color: #55e5f0"></ion-icon>
      <ion-label >
        <h3>Ajouter utlisateur</h3>
      </ion-label>
    </ion-item>
    <ion-item style="background-color: aliceblue;"button animated>
      <ion-icon slot="start" name="person-add" style="color: #55e5f0"></ion-icon>
      <ion-label>
        <h3>Gerer directions</h3>
      </ion-label>
    </ion-item>
    <ion-item style="background-color: aliceblue;" button animated>
      <ion-icon slot="start" name="trash" style="color: #55e5f0"></ion-icon>
      <ion-label>
        <h3>Supprimer un utilisateur</h3>
      </ion-label>
    </ion-item>
    <ion-item style="background-color: aliceblue;" button animated>
      <ion-icon slot="start" name="create" style="color: #55e5f0"></ion-icon>
      <ion-label >
        <h3>Lister utilisateur</h3>
      </ion-label>
    </ion-item>
    <ion-item style="background-color: aliceblue;" button animated>
      <ion-icon slot="start" name="create" style="color:  #55e5f0"></ion-icon>
      <ion-label >
        <h3>Modifier informations</h3>
      </ion-label>
    </ion-item>
      </ion-list>
</ion-content>
